@import '../../index.scss';

.App .user-profile {
    max-width: 1200px;
    margin: 10px auto;
    background-color: $color-secondary;

    .user-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 10px auto;
        background-color: $color-tertiary;
        font-size: 20px;
    }

    .user-profile-item {
        background-color: $color-tertiary;
    }

    .user-details {
        max-width: 800px;
        margin: 0 auto;
    }
}

