@import '../../index.scss';


.app-bar-container {
    background-color: $color-secondary !important;
}

.logo {
    width: 56px;
    height: 64px;
    padding-right: 16px;

    @media (max-width: 767px) {
       display: none;
    }
}

.navigator-link {
    text-decoration: unset;
}