/*Color Variables*/

$color-primary:  #012030;
$color-secondary:  #13678A;
$color-tertiary: #45C4B0;
$color-quaternary: #9AEBA3;
$color-quinary: #DAFDBA;
$color-white: #fff;
$color-black: #000;
$color-red: #FF0000;
$color-grey-one: #666;
$color-grey-two: #333;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




